<!-- TOP BAR -->
<div class="top-bar">
🚀 Healix.AI Beta Live – AI Specialist Mapping Enabled
</div>
<link rel="icon" href="assets/favicon.ico">
<nav class="navbar navbar-expand-lg custom-nav fixed-top">
<div class="container">
<a class="navbar-brand fw-bold text-white" href="index.html">
Healix.AI
</a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navMenu">
<ul class="navbar-nav ms-auto align-items-lg-center">
<li class="nav-item ms-lg-3">
    <div id="authArea"></div>
</li>
<li class="nav-item">
<a class="nav-link" href="#">About</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">Technology</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">Specialists</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">Security</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">Roadmap</a>
</li>

<a href="health.html" class="nav-link">
    <i class="bi bi-heart-pulse"></i> Health Tracker
</a>
<li class="nav-item ms-lg-3">
<a class="btn btn-main" href="#" onclick="goToScan()">Launch AI Scan</a>
</li>

<li class="nav-item ms-lg-3">
<div id="authArea"></div>
</li>

<li class="nav-item ms-lg-3">
<button id="themeToggle" class="theme-btn">
<i class="bi bi-moon-fill"></i>
</button>
</li>

</ul>
</div>
</div>
</nav>
